#!/bin/bash

declare answer

answer="$(gum choose --select-if-one --header="direnv: which environment would you like to use?" --label-delimiter="|" "nix develop .#impure|1" "devbox shell|2" "abort|3")"
printf "\n"

printf "Selection: %s\n" "${answer}"
printf "\n"

case "${answer}" in
1)
	if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
		source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
	fi

	use flake .#impure
	;;
2)
	# Automatically sets up your devbox environment whenever you cd into this
	# directory via our direnv integration:

	eval "$(devbox generate direnv --print-envrc)"

	# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
	# for more details
	;;
*)
	printf "\n"
	printf "Not starting a developer environment.\n"
	printf "\n"

	exit 0
	;;
esac

exit 0
